<header class="header">
<h1 class="header" style="font-size: 24.5px;"><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

<p class="header"><img src="{{site.logo | relative_url}}" alt="Me" width="160"/><br><br>I really, really like computers. Also metaphysics.</p>

<nav>
    <ul>
        <li><i class="fa fa-file-alt fa-lg"></i> <a href="/cv">Curriculum Vitæ</a></li>
        <li><i class="fab fa-github fa-lg"></i>
            <a href="{{ site.github.owner_url }}" target="_blank" rel="noreferrer">GitHub</a></li>
        <li><i class="fab fa-stack-overflow fa-lg"></i>
            <a href="https://stackoverflow.com/users/1708291/gflorio" target="_blank" rel="noreferrer">StackOverflow</a></li>
    </ul>
</nav>
</header>
