<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="/feed.xml">
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:400,400i,700&display=swap" rel="stylesheet">

    {% seo %}

    {% if site.google_analytics %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-XPR91HPKWP"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-XPR91HPKWP');
    </script>
    {% endif %}

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/935b7db574.js" crossorigin="anonymous"></script>
    <script async src="{{ "/assets/js/index.js?v=" | append: site.github.build_revision | relative_url }}"></script>
</head>
